/* PARAMETRES GENERAUX DU SITE */

* {
    padding: 0;
    margin: 0;
    object-fit: cover;
}

body {
    padding-top: 100px;
}

/* INDEX - BLOC 1 */

#bloc-1-hero img {
    height: 500px;
}

/* INDEX - BLOC 2 */

#image-container {
    height: 200px;
}